@model CRUD.Models.ViewModels.TablaVieModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Examen", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d=>d.idEmpleado)
            <div>
                @Html.LabelFor(d => d.nombre)
                @Html.TextBoxFor(d => d.nombre, " ", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.nombre, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.apellidoPaterno)
                @Html.TextBoxFor(d => d.apellidoPaterno, " ", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.apellidoPaterno, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.apellidoMaterno)
                @Html.TextBoxFor(d => d.apellidoMaterno, " ", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.apellidoMaterno, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.curp)
                @Html.TextBoxFor(d => d.curp, " ", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.curp, null, new { @class = "red" })
            </div>

        </div>
        <div style="text-align:right;">
            <input value="Guardar" class="btn btn-primary" type="submit" />
        </div>
    </div>
}